body {
    direction: rtl;
    font-family: SegoeUI, "Roboto Thin",  serif;
}

/* Main Layout */
a[highlight] {
    font-family: SegoeUI, "Roboto Thin", serif;
    font-weight: bold;
}
.header {
    padding: 0 var(--lumo-space-m);
}
.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}
.logout-key {
    font-family: SegoeUI, "Roboto Thin", serif;
}
/* Main View */
.main-h1-logo {
    margin: auto;
}