body {
    direction: rtl;
    font-family: Arial, "Roboto Thin",  serif;
}

/* Main Layout */
a[highlight] {
    font-family: Arial, "Roboto Thin", serif;
    font-weight: bold;
}
.header {
    padding: 0 var(--lumo-space-m);
}
.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}
a{
    font-family: Arial, "Roboto Thin", serif;
    color: black;
    font-size: 18px;
}
/* Main View */
.main-h1-logo {
    margin: auto;
}

.user-div {
    margin-left: 0;
}

/* User View*/
.user-view-filter {
    margin-right: 20px;
}